# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

** Read Salaries.csv as a dataframe called sal.**

** Check the head of the DataFrame. **

** Use the .info() method to find out how many entries there are.**

**What is the average BasePay ?**

** What is the highest amount of OvertimePay in the dataset ? **

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

** How many unique job titles are there? **

** What are the top 5 most common jobs? **

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

** How many people have the word Chief in their job title? (This is pretty tricky) **

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!